<div class="main-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="top-text header-text">
                    <h6>Over 36,500+ Active Listings</h6>
                    <h2>Find Nearby Places &amp; Things</h2>
                </div>
            </div>
            <!-- <div class="col-lg-12 cont_search_home" id="cont_search_home"> -->
            <div class="col-lg-12 cont_search_home" id="cont_search_home">
                <form id="search-form">
                    <div id="search-row" class="row">
                      <div id="search-row-col-att" class="col-lg-3 align-self-center">
                        <fieldset id="col-att-fieldset">
                          <select id="col-att-select" class="form-select" ng-model="attSelected" ng-change="actAtt(attSelected)">
                            <option>Select attribute</option>
                            <option ng-repeat="attribute in attributes" value="{{attribute}}">{{attribute.name_attribute}}</option>
                          </select>
                        </fieldset>
                      </div>
                      <div id="search-row-col-brand" class="col-lg-2 align-self-center">
                        <fieldset id="col-brand-fieldset">
                          <select id="col-brand-select" class="form-select" ng-model="brandSelected" ng-change="actBrand(brandSelected)">
                            <option selected="selected" value="0">Select brand</option>
                            <option ng-repeat="brand in brands" value="{{brand}}">{{brand.name_mark}}</option>
                          </select>
                        </fieldset>
                      </div>
                      <div id="search-row-col-text" class="col-lg-2 align-self-center">
                        <fieldset id="col-text-fieldset">
                          <input id="col-input-text-search" type="text" placeholder="Enter a city" class="searchText" ng-model="autocomplete" ng-change="key_autocomplete()" ng-click="changeAutoShow()" ng-class="{active: autoShow}">
                          <div id="search-auto-complete-cont" class="auto-complete-cont">
                            <div id="city-0" city="Olleria" class="cityAuto" ng-repeat="city in cities" ng-click="setCity()">{{city.city_car}}</div>
                          </div>
                        </fieldset>
                      </div>
                      <div id="search-row-col-order" class="col-lg-2 align-self-center">
                        <fieldset id="col-order-fieldset">
                          <select id="col-order-select" class="form-select" ng-model="orderSelected" ng-change="actOrder(orderSelected)">
                            <option selected="selected" value="km">Km</option>
                            <option value="price">Price</option>
                          </select>
                        </fieldset>
                      </div>
                      <div id="search-row-col-button" class="col-lg-3">
                        <fieldset id="col-button-fieldset">
                          <button type="button" id="main-button" class="main-button" ng-click="setFiltersSearch()">
                            <i class="fa fa-search" aria-hidden="true"></i> Search now
                          </button>
                        </fieldset>
                      </div>
                    </div>
                  </form>
            </div>
            <div class="col-lg-10 offset-lg-1">
                <div class="swiper">
                    <ul class="categories marks swiper-wrapper">
                        <div class="swiper-slide" ng-repeat="mark in marks" ng-click="markClick()">
                            <li class="item bot-shop"><span id="car-icon4" class="icon"><img
                                        src="frontend/view/icons{{mark.img_mark}}"></span>{{mark.name_mark}}</li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popular-categories">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Categories</h2>
                    <h6>Check Them Out</h6>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="naccs">
                    <div class="grid">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="menu" id="menu_categories_home">
                                    <div ng-repeat="(key, category) in categories" id="{{key}}-thumb"
                                        ng-class="{'first-thumb': key == 0, 'active': categoryActive == key}"
                                        ng-click="changeCategory()">
                                        <div id="first-thumb-child" class="thumb"><span id="first-thumb-span"
                                                class="icon"><img
                                                    src="frontend/view/icons{{category.icon_category}}"></span>{{category.name_category}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 align-self-center">
                                <ul class="nacc">
                                    <li ng-repeat="(key, category) in categories"
                                        ng-class="{'active': categoryActive == key}">
                                        <div>
                                            <div class="thumb">
                                                <div class="row">
                                                    <div class="col-lg-5 align-self-center">
                                                        <div class="left-text">
                                                            <h4 id="first-category-title">{{category.title_category}}
                                                            </h4>
                                                            <p id="first-category-desc">
                                                                {{category.description_category}}</p>
                                                            <div class="main-white-button bot-shop" id="first-btn-bot" ng-click="categoryClick()">
                                                                <a><i class="fa fa-eye" aria-hidden="true"></i>
                                                                    Discover More</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7 align-self-center">
                                                        <div class="right-image" id="first-category-img"><img
                                                                src="frontend/view/icons{{category.img_category}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-page fueltype">
    <h2>FuelType</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <div class="row py-10" id="row-fueltypes-home">
                        <div ng-repeat="type_fuel in type_fuels" id="col-row-fuel-0"
                            class="col-md-4 mt-10 align-self-center ccc bot-shop" ng-click="fuelTypeClick()">
                            <a id="col-a-fuel-0">
                                <div id="col-div-fuel-0" class="cont">
                                    <div id="col-img-fuel-0" class="img"><img
                                            src="frontend/view/icons{{type_fuel.img_type_fuel}}">
                                    </div>
                                    <div id="col-title-fuel-0" class="title">
                                        <p id="col-p-fuel-0">{{type_fuel.name_type_fuel}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="attributes-sec">
    <h2>Otras busquedas</h2>
    <div class="container">
        <div class="atts" id="atts">
            <div id="att-0" ng-repeat="attribute in attributes" class="attribute bot-shop" ng-click="attributeClick()">{{attribute.name_attribute}}
            </div>
        </div>
    </div>
</div>

<div class="news-sec">
    <h2>News</h2>
    <div class="container" id="container-news">
        <div ng-repeat="(key, newsSec) in newsListar" id="gc-{{key}}" class="grid-container g0{{newsSec.typeSec}}"
            ng-class="{'active': newsAct >= key}">
            <div ng-repeat="(key, new) in newsSec.news" id="gc-item-{{key+1}}" class="item grid-cell-{{key+1}}">
                <div id="gc-item-img-1" class="img"><img src="{{new.urlToImage}}"></div>
                <div id="gc-item-cont-1" class="cont">
                    <div id="gc-item-cont-title-1" class="title">{{new.title}}</div>
                    <div id="gc-item-cont-desc-1" class="desc">{{new.description}}</div>
                    <div id="gc-item-cont-author-1" class="author">{{new.author}}</div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-secondary" ng-click="moreNews()" ng-show="newsAct+1 < newsListar.length"><i class="fa fa-paper-plane"></i> More
            news</button>
    </div>
</div>