<!-- ***** Preloader Start ***** -->
<!-- <div id="js-preloader" class="js-preloader">
  <div class="preloader-inner">
    <span class="dot"></span>
    <div class="dots">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div> -->
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header id="myP" class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
  <div class="container pr-50">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="index.html" class="logo">
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a href="#/home" id="menu-home" class="module-menu" ng-class="{active: menuActive == 'home'}">Home</a>
            </li>
            <li><a href="#/shop" id="menu-shop" class="module-menu" ng-class="{active: menuActive == 'shop'}">Shop</a>
            </li>
            <li><a href="#/contact" id="menu-contact" class="module-menu"
                ng-class="{active: menuActive == 'contact'}">Contact Us</a></li>
            <li class="menuheaderprofile" ng-class="{active: menu_but}" ng-click="controlMenuInf()">
              <div class="main-white-button">
                <a>
                  <i>
                    <img id="img_butt_menu" alt="" src="{{img_usr}}">
                  </i>
                  <div id="username_butt_menu">{{username}}</div>
                </a>
              </div>
              <div class="desp-div-auth">
                <div class="option" id="option-logout" data-tr="LogOut" ng-click="logout()">LogOut</div>
              </div>
              <!-- <div class="main-white-button"><a><i class="fa fa-plus"></i> Add Your Listing</a></div> -->
            </li>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>

  </div>
  <!-- <div class="lang">
    <select name="select-lang">
      <option value="es" id="btn-es">es</option>
      <option value="en" id="btn-en">en</option>
      <option value="val" id="btn-val">val</option>
    </select>
  </div> -->
  <div class="cont_search_home" id="cont_search_homent" ng-show="search">
    <form id="search-form">
      <div id="search-row" class="row">
        <div id="search-row-col-att" class="col-lg-3 align-self-center">
          <fieldset id="col-att-fieldset">
            <select id="col-att-select" class="form-select" ng-model="attSelected" ng-change="actAtt(attSelected)">
              <option>Select attribute</option>
              <option ng-repeat="attribute in attributes" value="{{attribute}}">{{attribute.name_attribute}}</option>
            </select>
          </fieldset>
        </div>
        <div id="search-row-col-brand" class="col-lg-2 align-self-center">
          <fieldset id="col-brand-fieldset">
            <select id="col-brand-select" class="form-select" ng-model="brandSelected" ng-change="actBrand(brandSelected)">
              <option selected="selected" value="0">Select brand</option>
              <option ng-repeat="brand in brands" value="{{brand}}">{{brand.name_mark}}</option>
            </select>
          </fieldset>
        </div>
        <div id="search-row-col-text" class="col-lg-2 align-self-center">
          <fieldset id="col-text-fieldset">
            <input id="col-input-text-search" type="text" placeholder="Enter a city" class="searchText" ng-model="autocomplete" ng-change="key_autocomplete()" ng-click="changeAutoShow()" ng-class="{active: autoShow}">
            <div id="search-auto-complete-cont" class="auto-complete-cont">
              <div id="city-0" city="Olleria" class="cityAuto" ng-repeat="city in cities" ng-click="setCity()">{{city.city_car}}</div>
            </div>
          </fieldset>
        </div>
        <div id="search-row-col-order" class="col-lg-2 align-self-center">
          <fieldset id="col-order-fieldset">
            <select id="col-order-select" class="form-select" ng-model="orderSelected" ng-change="actOrder(orderSelected)">
              <option selected="selected" value="km">Km</option>
              <option value="price">Price</option>
            </select>
          </fieldset>
        </div>
        <div id="search-row-col-button" class="col-lg-3">
          <fieldset id="col-button-fieldset">
            <button type="button" id="main-button" class="main-button" ng-click="setFiltersSearch()">
              <i class="fa fa-search" aria-hidden="true"></i> Search now
            </button>
          </fieldset>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="cont_search_home" id="cont_search"></div> -->
</header>
<!-- ***** Header Area End ***** -->
<!-- <script>
  function loadButtonProfile() {
    var conf = {}
    conf.url = friendlyURL('?page=auth&op=infBut')
    ajaxPromise(conf.url, 'POST', 'json')
      .then(function (data) {
        console.log(data);
        if (data) {
          // $('#username_butt_menu').append(data.username)
          document.getElementById('username_butt_menu').value = data.username
          document.getElementById('img_butt_menu').src = data.img_user
          // $('#img_butt_menu').attr("src", data.img_user)
        } else {
          // $('#username_butt_menu').append("Iniciar / Registrar")
          document.getElementById('username_butt_menu').value = "Iniciar / Registrar"
          document.getElementById('img_butt_menu').src = "view/icons/images/user.png"
          // $('#img_butt_menu').attr("src", "view/icons/images/user.png")
        }
      }).catch(function (e) {
        console.log("error" + e);
      })
  }

  var men = document.getElementsByClassName('menuheaderprofile')
    if(localStorage.getItem('token')) {
        men.on('click', function() {
            men.toggleClass('active')
        })
    } else {
        men.on('click', function() {
            window.location.href = friendlyURL('?page=auth');
        })
        
    }
</script> -->